body {
	font-family: 'Droid Sans', sans-serif;
	background-image: url('regenmotief-02.png');
	color: rgb(60,60,59);
}

h1 {
	font-size: 16px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	text-align: right;
	margin: -25px auto auto auto;

}


h2 {
	font-size: 20px;
	text-align: right;
	padding-top: 5px;
	font-family: 'Droid Sans', sans-serif;
}


.kader {
	width: 1300px;
	margin: 50px 0px auto 120px;
}

nav {
	transform: rotate(270deg);
	position: absolute;
	position: fixed;
	margin: 125px auto auto -270px;
	background-color: rgba(36, 183, 197, 1);
	padding: 30px;
	word-spacing: 30px;

}

a{
	text-decoration: none;
	color: white;
}


.kaart {
	margin: 20px auto auto 400px ;
}

.paaltje {
    float: right;
    margin-top: 5px;
}